/* Por buenas prácticas separaría cada CSS por componente, pero al ser muy pequeño, lo uno todo para simplificar */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  text-align: center;
  font-size: 3rem; 
  margin-bottom: 2rem;
}

table {
  border-collapse: collapse;
  width: 80%;
  max-width: 800px;
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  font-size: 1.5rem; 
}

th,
td {
  padding: 1.5rem; 
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 0;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
}

/* Estilos para la superposición del Modal sobre la tabla (así no aparece debajo) */
.ModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos para el modal */
.Modal {
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 600px;
  max-height: 80vh;
  overflow-y: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.Modal h2 {
  margin-top: 0;
}

.Modal__content {
  display: flex;
  flex-direction: column;
}

.Modal__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.Modal__field label {
  margin-bottom: 0.5rem;
}

.Modal__field input {
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
}

.Modal__buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.Modal__buttons button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.Modal__buttons button + button {
  margin-left: 1rem;
}
